<nav id="site-nav" hidden>
  <a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
  <a href="/services/" class="{% if page.url == '/services/' %}active{% endif %}">Services</a>
  <a href="/testimonials/" class="{% if page.url == '/testimonials/' %}active{% endif %}">Testimonials</a>
  <a href="https://contact.apprasure.com" target="_blank" rel="noopener">Contact</a>
  </div>
</nav>
